* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
}

#logo {
    position: absolute;
    width: 200px;
    height: auto;
}