* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: #0d0d0d;
  font-family: monospace;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

canvas {
  cursor: pointer;
  margin-top: -132px;
  image-rendering: pixelated;
}